@import "reset.css";
@import "responsive.css";

@font-face {
  font-family: "Baskerville";
  font-weight: normal;
  src: url(../fonts/BaskervilleCyrillicUpright.otf) format('opentype');
}

@font-face {
  font-family: "Troover";
  font-weight: normal;
  src: url(../fonts/TrooverRoman.otf) format('opentype');
}

@font-face {
  font-family: "OfficinaSerif";
  font-weight: italic;
  src: url(../fonts/OfficinaSerifBookItalic.otf) format('opentype');
}

@font-face {
  font-family: "SnellRoundhand";
  font-weight: bold;
  src: url(../fonts/SnellRoundhand.otf) format('opentype');
}

@font-face {
  font-family: "Rassvet";
  font-weight: normal;
  src: url(../fonts/Rassvet.ttf) format('truetype');
}

@font-face {
  font-family: "Swordsman";
  font-weight: normal;
  src: url(../fonts/SPSLSwordsman.otf) format('opentype');
}

@font-face {
  font-family: "UnicumCondLight";
  font-weight: normal;
  src: url(../fonts/UnicumCondLight.otf) format('opentype');
}

@font-face {
  font-family: "Secession";
  font-weight: bold;
  src: url(../fonts/SecessionBold.otf) format('opentype');
}

@font-face {
  font-family: "Luxor";
  font-weight: normal;
  src: url(../fonts/Luxor.otf) format('opentype');
}

@font-face {
  font-family: "SonetSerif";
  font-weight: italic;
  src: url(../fonts/SonetSerifItalic.otf) format('opentype');
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

html {
width: 100%;
overflow-x: hidden;
background-color: white;
}

.wrapper {
  position: relative;
  width: 100%;
  background: white;
}

.sootnosheniye {
  position: relative;
  padding-bottom: 219.285714%;
  background: white;
}

.content {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; padding: 0;
  background: white;
}

/* GRID? */

.first_third {
position: relative;
width: 100%;
height: 28.8%;
display: block;
/* border: 2px solid #000000; */
}

.second_third {
position: relative;
width: 100%;
height: 28.8%;
top: 0%;
display: block;
/* border: 2px solid #000000; */
}

.third_third {
position: relative;
width: 100%;
height: 28.8%;
top: 0%;
display: block;
/* border: 2px solid #000000; */
}

.footer {
position: relative;
width: 100%;
height: 18.8%;
top: 0%;
display: block;
/* border: 2px solid #000000; */
}


/* TEXT BASE */
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {
width: 100%;
font-size: 40px;
line-height: 51px;
position: absolute;
color: black;
font-family: "Baskerville";
font-style: normal;
}

#textbase1 {
left: 2%;
top: 3.52%;
}

#textbase2 {
left: 34%;;
top: 41%;
}

#textbase3 {
left: 81%;
top: 37%;
}

#textbase4 {
left: 20%;
top: 38.5%;
}

#textbase5 {
left: 73%;
    top: 47%;
}

#textbase6 {
left: 12%;
top: 56%;
}

#textbase7 {
left: 6%;
top: 18%;
}

#textbase8 {
  left: 13%;
    top: 63%;
}

#textbase9 {
left: 72%;
top: 94%;
}

#textbase10 {
left: 27%;
top: 40%;
}

#textbase11 {
left: 3%;
top: 77.5%;
}

#sh {
width: 100%;
font-size: 180px;
line-height: 194px;
position: absolute;
top: 22.52%;
left: 16%;
color: black;
font-family: "Troover";
font-style: normal;
}

#ii {
width: 100%;
position: absolute;
font-size: 125px;
line-height: 212px;
font-family: "SnellRoundhand";
font-style: italic;
font-weight: bold;
color: black;
top: 10%;
left: 69%;
}

#f {
width: 100%;
position: absolute;
font-size: 132px;
line-height: 185px;
font-family: "Rassvet";
font-style: normal;
color: black;
top: 47%;
left: 84%;
}

#r {
width: 100%;
position: absolute;
font-size: 136px;
line-height: 169px;
font-family: "OfficinaSerif";
font-style: italic;
color: black;
top: 68%;
left: 35%;
}

#t1 {
width: 100%;
position: absolute;
font-size: 212px;
line-height: 266px;
font-family: "Swordsman";
font-style: normal;
color: black;
top: 12%;
left: 46%;
}

#e {
width: 100%;
position: absolute;
font-size: 147px;
line-height: 172px;
font-family: "UnicumCondLight";
font-style: normal;
color: black;
top: 82%;
left: 26%;
}

#t2 {
width: 100%;
position: absolute;
    font-size: 195px;
line-height: 194px;
font-family: "Secession";
font-style: normal;
font-weight: bold;
color: black;
top: 15%;
left: 84.5%;
}

#t3 {
width: 100%;
position: absolute;
font-size: 250px;
line-height: 225px;
font-family: "Luxor";
font-style: normal;
color: black;
top: 34%;
left: 16%;
}

#a {
width: 100%;
position: absolute;
font-size: 182px;
line-height: 193px;
font-family: "SonetSerif";
font-style: italic;
color: black;
top: 104.5%;
left: 76%;
}

#footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {
width: 100%;
position: absolute;
font-size: 25px;
line-height: 29px;
font-family: "Baskerville";
font-style: normal;
color: black;
}

#footertext1 {
bottom: 31%;
left: 2%;
}

#footertext2 {
bottom: 31%;
left: 44%;
}

#footertext3 {
bottom: 31%;
left: 88.8%;
}

#footertext4 {
bottom: 6.9%;
left: 2%;
}

#footertext5 {
bottom: 6.9%;
left: 51.5%;
}

#footertext6 {
bottom: 6.9%;
left: 91.5%;
}

/* FIGURES */

#qvadrat1 {
position: relative;
width: 14%;
height: 9%;
margin-top: 23.5%;
margin-left: 0.5%;
border: 2px solid #000000;
box-sizing: border-box;
}

#qvadrat2 {
position: relative;
width: 22%;
height: 9%;
margin-top: -3.7%;
margin-left: 41%;
border: 2px solid #000000;
box-sizing: border-box;
}

#qvadrat3{
position: relative;
width: 12%;
height: 9%;
margin-top: -3.8%;
margin-left: 87.5%;
border: 2px solid #000000;
box-sizing: border-box;
}

#qvadrat4 {
position: relative;
width: 99.1%;
height: 11%;
    margin-top: 5.8%;
margin-left: 0.5%;
border: 2px solid #000000;
box-sizing: border-box;
}


/* IMAGES */

#arrowleft {
position: relative;
width: 22%;
height: 5%;
background-size: cover;
margin-left: 16%;
bottom: -64.9%;
}

#arrowright {
position: relative;
width: 22%;
height: 5%;
background-size: cover;
margin-left: 27%;
bottom: -64.9%;
}

#star1 {
position: relative;
width: 16%;
height: 20%;
background-size: cover;
left: 1%;
top: -10%;
animation: star1an 1s steps(1) infinite;
animation-play-state: paused;
}

@keyframes star1an {
  0%, 25% {
      left: -0px;
      transform: scale(0.7);
  }
  50%, 100% {
      left: 10px;
      transform: rotateZ(30deg);
}
}

#star1:hover {
animation-play-state: running;
}

#ramka1 {
position: relative;
width: 15%;
height: 11%;
background-size: cover;
left: 27%;
bottom: 57%;
}

.ramka1ball {
position: relative;
width: 2%;
height: 2.9%;
left: 44.56%;
top: 6.5%;
border: 1.5px solid #000000;
border-radius: 100%;
border-color: black;
background-color: black;
}

.ramka1ball:hover {
background-color: red;
}

.ramka1ball1 {
position: relative;
width: 2.9%;
height: 4%;
left: 54.3%;
top: 2.3%;
border: 1.5px solid #000000;
border-radius: 100%;
border-color: black;
background-color: black;
}

.ramka1ball1:hover {
background-color: #111AFF;
}

#strokeright {
position: relative;
width: 13%;
height: 15%;
left: 51.7%;
bottom: 50.9%;
background-size: cover;
}

.stroke_ball {
position: relative;
width: 1%;
height: 1.5%;
left: 84.7%;
top: 1.3%;
border: 3px solid #C4929D;
border-radius: 100%;
}

.stroke_ball2 {
position: relative;
width: 1%;
height: 1.5%;
left: 95.8%;
top: 17.5%;
border: 3px solid #4078A7;
border-radius: 100%;
}

.stroke_ball3 {
position: relative;
width: 1%;
height: 1.5%;
left: 86.5%;
top: 3.3%;
background-color: #519F75;
border: 3px solid #519F75;
border-radius: 100%;
}

#blackcrescent {
position: relative;
width: 3%;
height: 4%;
left: 37.7%;
bottom: 43.1%;
background-size: cover;
animation: bcan 2s steps(5) infinite;
animation-play-state: paused;
}

#blackcrescent:hover {
animation-play-state: running;
}

@keyframes bcan {
  0% {
  opacity: 1;
  }
25% {
opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
opacity: 1;
}}

#yellowball {
position: relative;
width: 8%;
height: 14%;
left: -0.3%;
top: 2%;
background-size: cover;
animation: yban 1s steps(2) infinite;
animation-play-state: paused;
}

#yellowball:hover {
animation-play-state: running;
}

@keyframes yban {
50% {
      transform: rotate(180deg);
}
100% {
      transform: rotate(-180deg);
}
}

#voronoileft {
position: relative;
width: 38%;
height: 73%;
left: 0.7%;
top: -24%;
background-size: cover;
}

#voronoicenter {
position: relative;
width: 34%;
height: 64%;
left: -2.3%;
    top: 19%;
background-size: cover;
}

#star2 {
position: relative;
width: 12%;
height: 21%;
background-size: cover;
margin-left: 11%;
top: -65%;
animation: star2an 1s steps(1) infinite;
animation-play-state: paused;
}

@keyframes star2an {
  0%, 25% {
      left: -0px;
      transform: scale(0.6);
  }
  50%, 100% {
      left: 10px;
      transform: rotateZ(150deg);
}
}

#star2:hover {
animation-play-state: running;
}

#eyefp {
position: relative;
width: 6%;
height: 11%;
background-size: cover;
margin-left: -36%;
top: -43%;
animation: eyefpan 1s steps(2) infinite;
animation-play-state: paused;
}

@keyframes eyefpan {
  40%, 60% { transform: rotate(-15deg) }
  50% { transform: rotate(15deg)  }
  70% { transform: rotate(0deg)  }
  100% { transform: scale(1); }
}

#eyefp:hover {
animation-play-state: running;
}

#ramka2 {
position: relative;
width: 15%;
height: 11%;
background-size: cover;
left: 21%;
bottom: 17%;
}

.ramka2qvadrat {
width: 6.88%;
height: 5.5%;
margin-left: 56.82%;
margin-top: -83.2%;
background-color: black;
border: 2px solid #000000;
box-sizing: border-box;
animation-play-state: paused;
animation: open 1s steps(2) infinite;
}

.ramka2qvadrat:hover {
animation-play-state: running;
}

@keyframes open{
	10%{
		transform: translateY(0px)
	}
	50%{
		transform: translateY(-10px)
	}
	76%{
		transform: translateY(-10px)
	}
	100%{
		transform: translateY(0px)
	}
}

#voronoiright {
position: relative;
width: 36%;
height: 63%;
left: 15.7%;
top: -24%;
background-size: cover;
}

#strokecentral {
position: relative;
width: 14%;
height: 15%;
left: -0.3%;
bottom: 49.9%;
background-size: cover;
}

.stroke_ball_central1 {
position: relative;
width: 1%;
height: 1.5%;
left: 35.2%;
top: -66.5%;
background-color: #519F75;
border: 3px solid #519F75;
border-radius: 100%;
}

.stroke_ball_central2 {
position: relative;
width: 1%;
height: 1.5%;
left: 45.6%;
top: -57.5%;
background-color: #EA1C1C;
border: 3px solid #EA1C1C;
border-radius: 100%;
}

.stroke_ball_central3 {
position: relative;
width: 1%;
height: 1.5%;
left: 47.2%;
top: -57%;
background-color: #ECEF4D;
border: 3px solid #ECEF4D;
border-radius: 100%;
}

.stroke_ball_central4 {
position: relative;
width: 1%;
height: 1.5%;
left: 39.2%;
top: -57.6%;
background-color: #C4929D;
border: 3px solid #C4929D;
border-radius: 100%;
}

.stroke_ball_central5, .stroke_ball_central6  {
position: relative;
width: 1%;
height: 1.7%;
background-color: black;
border: 3px solid black;
border-radius: 100%;
}

.stroke_ball_central5 {
left: 44.1%;
top: -59.3%;
}

.stroke_ball_central6 {
left: 38.7%;
top: -69%;
}

#strokeleft {
position: relative;
width: 16%;
height: 48%;
left: -43.7%;
bottom: 16.5%;
background-size: cover;
}

.stroke_ball_left {
position: relative;
width: 1%;
height: 1.7%;
left: 15.7%;
top: -81.3%;
border: 3px solid #000000;
border-radius: 100%;
}

#voronoibottom {
position: relative;
width: 37%;
height: 57%;
left: 43.7%;
top: 5%;
background-size: cover;
}

.arrowcircle1 {
position: relative;
width: 7%;
height: 10.7%;
left: 83.2%;
top: -74.7%;
border: 3px solid #F8EA70;
background-color: #F8EA70;
border-radius: 100%;
}

.arrowcircle2 {
position: relative;
width: 5%;
height: 7.4%;
left: 84.3%;
top: -84.2%;
border: 3px solid #ED71D2;
background-color: #ED71D2;
border-radius: 100%;
}

.arrowcircle3 {
position: relative;
width: 3.9%;
height: 7.5%;
left: 84.85%;
top: -92.2%;
border: 3px solid black;
background-color: black;
border-radius: 100%;
}

#arrowsmall1 {
position: relative;
width: 6.5%;
height: 2%;
background-size: cover;
margin-left: 79.5%;
top: -90%;
transform: rotate(-50deg);
}

#arrowsmall2 {
  position: relative;
  width: 8%;
  height: 2%;
  background-size: cover;
  margin-left: 82.9%;
  top: -88.9%;
  transform: rotate(-90deg);
}

#arrowsmall3 {
position: relative;
width: 6.5%;
height: 2%;
background-size: cover;
margin-left: 88.1%;
top: -95%;
transform: rotate(-140deg);
}

.stroke_ball_left1 {
position: relative;
width: 1%;
height: 1.7%;
left: 16.9%;
bottom: 120.5%;
border: 3px solid #000000;
background-color: black;
border-radius: 100%;
}

#eyesbase {
position: relative;
width: 19%;
height: 22%;
background-size: cover;
margin-left: 28.9%;
top: 35.1%;
}

#eyefp2 {
position: relative;
width: 6%;
height: 11%;
background-size: cover;
left: -9%;
    top: 58%;
animation: eyefpan2 1s steps(2) infinite;
animation-play-state: paused;
transform: rotate(90deg);
}

@keyframes eyefpan2 {
  40%, 60% { transform: rotate(0deg) }
  50% { transform: rotate(-15deg)  }
  70% { transform: rotate(15deg)  }
  100% { transform: scale(1); }
}

#eyefp2:hover {
animation-play-state: running;
}

#star3 {
position: relative;
width: 14%;
height: 17%;
background-size: cover;
margin-left: 0%;
top: -43%;
animation: star3an 1s steps(1) infinite;
animation-play-state: paused;
}

@keyframes star3an {
  0%, 25% {
      left: -0px;
      transform: scale(0.8);
  }
  50%, 100% {
      left: 10px;
      transform: rotateZ(30deg);
}
}

#star3:hover {
animation-play-state: running;
}

#strokecircle {
position: relative;
width: 23%;
height: 30%;
left: 3.7%;
bottom: -59.1%;
background-size: cover;
}

#strokecircleinside {
position: relative;
width: 14%;
height: 24%;
left: 76.5%;
bottom: -13.1%;
background-size: cover;
}

#strokefooter {
position: relative;
width: 65%;
height: 43%;
left: 15.9%;
bottom: -71.5%;
background-size: cover;
}

#fourstar {
position: relative;
width: 39%;
height: 39%;
left: 4.3%;
bottom: -12.1%;
background-size: cover;
}

.stroke_ball_bottom1 {
position: relative;
width: 1%;
height: 1.5%;
    left: 77.9%;
bottom: 49.2%;
background-color: black;
border: 3px solid black;
border-radius: 100%;
}

.stroke_ball_bottom2 {
position: relative;
width: 1%;
height: 1.5%;
left: 29.8%;
bottom: 16.9%;
background-color: #ECEF4D;
border: 3px solid #ECEF4D;
border-radius: 100%;
}

.stroke_ball_bottom3 {
position: relative;
width: 1%;
height: 1.5%;
left: 40.2%;
bottom: 27%;
background-color: #C4929D;
border: 3px solid #C4929D;
border-radius: 100%;
}

.stroke_ball_bottom4 {
position: relative;
width: 1%;
height: 1.5%;
left: 47.2%;
bottom: 17.5%;
background-color: black;
border: 3px solid black;
border-radius: 100%;
}

.stroke_ball_bottom5 {
position: relative;
width: 1%;
height: 1.5%;
left: 73.7%;
bottom: 18.5%;
background-color: black;
border: 3px solid black;
border-radius: 100%;
}

.stroke_ball_bottom6 {
position: relative;
width: 1%;
height: 1.5%;
left: 92.2%;
bottom: 23.5%;
background-color: #EA1C1C;
border: 3px solid #EA1C1C;
border-radius: 100%;
}

#greencrescent {
position: relative;
width: 3%;
height: 4%;
left: 54%;
bottom: 35%;
background-size: cover;
animation: gcan 2s steps(5) infinite;
animation-play-state: paused;
}

#greencrescent:hover {
animation-play-state: running;
}

@keyframes gcan {
  0% {
  opacity: 1;
  }
25% {
opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
opacity: 1;
}}

.fourstarcircle {
position: relative;
width: 4.9%;
height: 7.5%;
left: 32.9%;
top: -27.6%;
border: 3px solid #ECEF4D;
background-color: #ECEF4D;
border-radius: 100%;
}

.fourstarcircle1 {
position: relative;
width: 3.5%;
height: 5.5%;
left: 10.33%;
top: -27.2%;
border: 3px solid #4078A7;
background-color: #4078A7;
border-radius: 100%;
}

#eyesbase_circle, #eyesbase_circle2, #eyesbase_circle3, #eyesbase_circle4, #eyesbase_circle5, #eyesbase_circle6 {
position: relative;
width: 0.7%;
height: 1.2%;
background-color: black;
border: 3px solid black;
border-radius: 100%;
}

#eyesbase_circle {
  left: 55%;
  top: -65.2%;
}

#eyesbase_circle2 {
    left: 52.9%;
  top: -62.6%;
}

#eyesbase_circle3 {
    left: 53.8%;
  top: -58%;
}

#eyesbase_circle4 {
  left: 62.4%;
  top: -71.3%;
}

#eyesbase_circle5 {
  left: 56.5%;
  top: -67.4%;
}

#eyesbase_circle6 {
left: 81.2%;
top: 53.5%;
}

.circle_bottom {
position: relative;
width: 6%;
height: 7%;
left: 39%;
bottom: 35%;
background-size: cover;
}
