@media all and (max-width: 1792px){
.atxt {margin-top: -11.5%;margin-left: -0.5%;}
.acartinka {margin-top: 0%;margin-left: -1%;}
.t3txt {margin-top: -12%;}
.ramka1ball1 {top: 2.4%;}
}

@media all and (max-width: 1680px){
.atxt {margin-top: -12.5%;margin-left: -1%;}
}

@media all and (max-width: 1470px) and (min-width: 1424px){
  .sbl1 {bottom: 174.5%;}
  .ramka2qvadrat {margin-left: 57%;margin-top: -79.9%;}
  .atxt {margin-top: -15.7%;}
  #footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 21px;}
  #qvadrat1 {margin-top: 8.5%;}
  .sbb1 {bottom: 113.6%;}
  #textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 32px;}
  #ramka1 {bottom: 57.4%;}
  .fourstarcircle {top: -93%;}

  #eyesbase_circle3 {left: 48.55%;top: -110.5%;}
  #eyes_white2 {left: 48.87%;top: -111.8%;}
  #eyesbase_circle4 {top: -108.3%;}
  #eyes_white3 {top: -109.6%;}
  #eyesbase_circle {top: -106.2%;}
  #eyes_white {top: -107.5%;}
  #eyesbase_circle5 {top: -111.5%;}
  #eyes_white4 {left: 46.77%;top: -112.8%;}
  #eyesbase_circle2 {left: 47.3%;top: -97.4%;}
  #eyes_white1 {left: 47.6%;top: -98.7%;}
}



@media all and (max-width: 1465px)and (min-width:1441px){
.sbl1 {bottom: 174.5%;}
.ramka2qvadrat {margin-left: 57%;margin-top: -79.9%;}
.atxt {margin-top: -15.7%;}
#footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 21px;}
#qvadrat1 {margin-top: 7.9%;}
.sbb1 {bottom: 113.6%;}
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 32px;}
#ramka1 {bottom: 57.4%;}
.fourstarcircle {top: -93%;}

#eyesbase_circle3 {left: 48.55%;top: -110.5%;}
#eyes_white2 {left: 48.87%;top: -111.8%;}
#eyesbase_circle4 {top: -108.3%;}
#eyes_white3 {top: -109.6%;}
#eyesbase_circle {top: -106.2%;}
#eyes_white {top: -107.5%;}
#eyesbase_circle5 {top: -111.5%;}
#eyes_white4 {left: 46.77%;top: -112.8%;}
#eyesbase_circle2 {left: 47.3%;top: -97.4%;}
#eyes_white1 {left: 47.6%;top: -98.7%;}
}


@media all and (max-width: 1440px) and (min-width:900px){
.ramka2qvadrat {margin-left: 56.99%;margin-top: -79.9%;}
.arrowcircle3 {top: -94.4%;}
#footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 21px;}
.sbl {top: -73.3%;}
.sbl1 {bottom: 174.5%;}
#voronoibottom {left: 30.7%;}
.t3 {font-size: 225px;top: 31%;}
.t3txt {margin-top: -14%;}
.t3cartinka {margin-top: 2%;margin-left: -4%;background-size: cover;width: 18%;}
.t2 {top: -2%;left: 43.5%;font-size: 169px;}
.atxt {margin-top: -15%;margin-left: -1%;}
.a {margin-top: -3%;font-size: 158px;}
.acartinka {margin-top: 4%;margin-left: -2%;width: 12%;}
.fourstarcircle {top: -93%;}
#footertext1 {bottom: 40.7%;}
#footertext2 {bottom: 41%;left: 44%;}
#footertext3 {bottom: 41.4%;}
#footertext4 {bottom: 29.6%;}
#footertext5 {bottom: 29.3%;left: 50.5%;}
#footertext6 {bottom: 29.5%;}
#textbase10 {left: 26.5%;}
#eyesbase_circle3 {left: 48.55%;top: -110.5%;}
#eyes_white2 {left: 48.87%;top: -111.8%;}
#eyesbase_circle4 {top: -108.3%;}
#eyes_white3 {top: -109.6%;}
#eyesbase_circle {top: -106.2%;}
#eyes_white {top: -107.5%;}
#eyesbase_circle5 {top: -111.5%;}
#eyes_white4 {left: 46.77%;top: -112.8%;}
#eyesbase_circle2 {left: 47.3%;top: -97.4%;}
#eyes_white1 {left: 47.6%;top: -98.7%;}
#strokecirleinside {left: -6.9%;}
.circlebottom {left: 41%;}
.sbb1 {bottom: 113.6%;}
#yellowball {top: 3%;}
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 32px;}
}

@media all and (max-width: 1366px) and (min-width:768px){
#voronoicenter {left: -0.3%;}
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 29px;}
#ramka1 {bottom: 57.6%;}
.rtxt {margin-left: 2%;}
.ftxt {top: 18%;left: 84%;font-size: 101px;}
.fcartinka {margin-top: 3%;width: 6%;}
.r {font-size: 125px;}
.shtxt {font-size: 158px;}
#star1 {top: -12%;width: 16%;height: 16%;}
.t1txt {margin-top: -19%;margin-left: 1.3%;}
.t1 {font-size: 182px;}
.atxt {margin-top: -15.3%;margin-left: 0%;}
.acartinka {background-size: cover;width: 13%;margin-top: 3%;margin-left: -1%;}
.fourstarcircle {top: -93.4%;}
.fourstarcircle1 {left: 11.3%;top: -3.44%;}
.sbb1 {bottom: 114.6%;}
#star3 {top: -74%;height: 14%;}
.strokeleft {bottom: 6.8%;}
.sbl1 {bottom: 174.8%;}
.t2 {top: -7%;font-size: 149px;}
.t2cartinka {margin-left: 37%;margin-top: 4.7%;background-size: cover;width: 13%;}
.t2txt {margin-top: -11%;}
.t3 {font-size: 197px;}
.t3cartinka {margin-top: 4%;width: 17%;}
.t3txt {margin-top: -16%;}
.iicartinka {margin-top: 20%;margin-left: -2%;width: 9%;}
#strokecentral {left: -36.3%;bottom: -19.1%;}
#ramka2 {bottom: 14%;}
.ramka2qvadrat {margin-top: -78.5%;}
.sbc1 {left: 46.9%;top: -45.5%;}
.sbc6 {left: 56.7%;top: -40.9%;}
.sbc4 {left: 51.6%;top: -37.6%;}
.sbc3 {left: 59.7%;top: -36.5%;}
.sbc5 {left: 50.8%;top: -46%;}
.sbc2 {left: 57.6%;top: -36.9%;}
#arrowsmall1 {top: -82%;}
#arrowsmall2 {top: -82.4%;}
#arrowsmall3 {margin-left: 88.5%;top: -89.4%;}
.arrowcircle1 {top: -68.9%;}
.arrowcircle2 {top: -78.7%;}
.arrowcircle3 {height: 7.3%;top: -86.7%;}
#footertext1 {left: 1.7%;bottom: 40.2%;}
#footertext2 {bottom: 40.7%;}
#footertext3 {left: 88.55%;bottom: 40.8%;}
#footertext4 {bottom: 29.4%;}
#footertext5 {bottom: 28.8%;}
#footertext6 {bottom: 29%;}
}

@media all and (max-width: 1280px) and (min-width:800px){
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 27px;}
#yellowball {width: 7%;left: -1.3%;}
.ftxt {left: 84.5%;font-size: 96px;top: 15%;}
.fcartinka {margin-top: 5%;margin-left: 85%;}
#voronoicenter {left: 1.7%;}
#textbase2 {left: 38%;}
.shtxt {left: 10%;}
.shcartinka {margin-left: 4.6%;margin-top: 2%;}
#textbase11 {left: 12%;top: 71.5%;}
.r {font-size: 113px;margin-left: 3%;top: 53%;}
.rcartinka {margin-top: 21%;}
#star2 {margin-left: 16%;top: -65%;}
#voronoiright {left: 11.7%;}
.voronoileft {width: 37%;height: 72%;}
.t1 {font-size: 165px;}
.t1cartinka {margin-left: -2.8%;margin-top: 1%;background-size: cover;width: 15%;}
.t1txt {margin-top: -20.3%;}
#textbase4 {left: 22%;top: 37.5%;}
#textbase5 {left: 77%;top: 44%;}
.ramka2qvadrat {margin-left: 61%;}
#strokecentral {left: 46.7%;bottom: 28.7%;}
#strokeleft {left: -5.7%;bottom: 6.5%;}
#textbase6 {top: 54.5%;}
#textbase7 {top: 20.5%;}
.e {font-size: 125px;}
#voronoibottom {left: 28.7%;top: -1%;}
.sbc5 {left: 50.4%;}
.sbc4 {left: 51%;top: -36.7%;}
.sbc3 {left: 59.4%;top: -36.5%;}
.t2 {top: -6%;font-size: 133px;}
.t2cartinka {margin-top: 8.7%;width: 12%;}
.t2txt {margin-left: 40.6%;margin-top: -12%;}
.t3 {font-size: 165px;}
.t3txt {margin-top: -18%;}
#eyesbase {width: 16%;height: 20%;margin-left: 47.9%;top: -4.9%;}
#eyesbase_circle {top: -104.7%;left: 59%;}
#eyes_white {left: 59.3%;top: -106.2%;}
#eyesbase_circle3 {left: 52.3%;top: -109.5%;}
#eyes_white2 {left: 52.55%;top: -110.9%;}
#eyesbase_circle4 {top: -107.9%;left: 53.6%;}
#eyes_white3 {top: -109.3%;left: 53.92%;}
#eyesbase_circle5 {top: -111.1%;left: 50.4%;}
#eyes_white4 {left: 50.7%;top: -112.5%;}
#eyesbase_circle2 {left: 51.2%;top: -97.2%;}
#eyes_white1 {left: 51.5%;top: -98.6%;}
#strokecircleinside {left: 78.5%;bottom: 53.9%;}
#strokecircle {left: 9.7%;}
#eyefp2 {left: -48%;top: 35%;height: 9%;}
#eyefp {height: 9%;}
.circle_bottom {left: 41%;bottom: 101.5%;}
.fourstarcircle {left: 33.8%;top: -94%;}
.fourstarcircle1 {top: -3%;height: 8%;}
#strokefooter {width: 63%;left: 17.9%;}
.a {font-size: 152px;}
.atxt {margin-top: -16%;margin-left: 1%;}
.acartinka {width: 12%;margin-top: 4%;margin-left: 0%;}
.sbb2 {left: 31.9%;bottom: -14.5%;}
.sbb3 {left: 42.2%;bottom: 1.2%;}
.sbb4 {left: 46.5%;bottom: -10.5%;}
.sbb6 {left: 90.1%;}
.sbb5 {left: 74.2%;bottom: -9.5%;}
#qvadrat1 {margin-top: 7.5%;}
#textbase10 {left: 29.5%;}
#footertext1 {left: 1.3%;bottom: 42.2%;}
#footertext2 {left: 43%;bottom: 42.7%;}
#footertext3 {left: 88.4%;bottom: 42.8%;}
#footertext4 {bottom: 31.4%;}
#footertext5 {bottom: 31%;}
#footertext6 {bottom: 31.2%;}
#arrowleft {bottom: -25%;}
#arrowright {bottom: -24.9%;}

}
@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation:landscape) {
/* @media all and (max-width: 1024px)  and (orientation:landscape) { */
.ramka1ball1 {left: 54.4%;top: 2.4%;}
.ramka1ball {left: 44.7%;}
.shtxt {font-size: 122px;top: 6.52%;}
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 23px;}
.shcartinka {margin-left: 5.4%;margin-top: 0%;width: 22%;}
.stroke_ball {border: 2px solid #C4929D;left: 84.9%;top: 2.2%;}
.stroke_ball2 {border: 2px solid #4078A7;left: 95.9%;top: 17.8%;}
.iitxt {font-size: 90px;left: 1%;}
.iicartinka {margin-top: 23%;margin-left: -1%;width: 8%;}
#voronoicenter {width: 33%;left: 3.7%;top: 17%;}
.ftxt {font-size: 70px;left: 87.5%;}
.fcartinka {margin-top: 6%;margin-left: 88%;width: 5.5%;}
#yellowball {width: 7%;top: 6%;left: 0.7%;}
.r {font-size: 100px;}
.rcartinka {width: 13%;margin-top: 33%;}
.rtxt {margin-top: -44%;}
.voronoileft {width: 34%;height: 70%;}
#star1 {height: 14%;}
#star2 {width: 12%;margin-left: 22%;top: -61%;}
#voronoiright {width: 35%;height: 61%;left: 26.7%;top: -21%;}
.t1 {font-size: 135px;}
.t1txt {margin-left: 3.3%;margin-top: -26%;}
.t1cartinka {margin-left: -0.8%;margin-top: 9%;}
#eyefp {margin-left: -43%;}
#strokeleft {left: 8.2%;bottom: -3.5%;}
.sbl {top: -64.3%; border: 2px solid #000000;}
.sbl1 {bottom: 169.8%;border: 2px solid #000000;}
.e {top: 52%;left: 23%;font-size: 90px;}
.ecartinka {width: 36%;margin-top: 184%;}
.etxt {margin-top: -118%;margin-left: 10%;}
#textbase6 {top: 61.5%;}
#star3 {top: -67%;height: 13%;}
#strokecentral {left: -28.3%;bottom: -20.5%;}
#ramka2 {bottom: 5%;width: 7%;left: 29%;}
.ramka2qvadrat {margin-top: -74.1%;margin-left: 61.5%;width: 6.4%;}
#textbase7 {top: 26%;}
#arrowsmall2 {top: -73.4%;}
#arrowsmall3 {top: -80.4%;}
#arrowsmall1 {top: -73%;margin-left: 77.4%;}
.arrowcircle1 {left: 83.1%;top: -59.9%;}
.arrowcircle2 {top: -69.8%;left: 84.3%;}
.arrowcircle3 {left: 84.9%;top: -78.1%;width: 3.8%;}
#voronoibottom {top: -2%;left: 27.7%;}
.t2 {font-size: 100px;}
.t2cartinka {margin-top: 9.7%;width: 11%;}
.t2txt {margin-left: 40.3%;margin-top: -16%;}
.t3 {font-size: 120px;}
.t3txt {margin-top: -21.5%;margin-left: -0.1%;}
.t3cartinka {margin-top: 6.5%;width: 14%;margin-left: -3.5%;}
#textbase8 {top: 61%;}
#eyesbase {width: 15%;height: 18%;}
#fourstar {width: 37%;}
#strokefooter {width: 61%;}
.fourstarcircle {left: 32.37%;top: -92.55%;width: 4.5%;}
.fourstarcircle1 {left: 11%;top: -4.2%;width: 3.2%;}
#strokecircle {height: 29%;}
#greencrescent {left: 56.33%;}
.sbb1 {bottom: 114.3%;border: 2px solid black;left: 78.68%;}
#textbase9 {left: 72%;top: 80%;}
.a {font-size: 125px;}
.acartinka {width: 11%;margin-top: 4%;margin-left: 0.1%;}
.atxt {margin-top: -20%;}
#qvadrat1 {margin-top: 6.5%;}
#footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 16px;}
#footertext1 {left: 1.6%;bottom: 42.3%;}
#footertext2 {left: 43.6%;bottom: 42.8%;}
#footertext3 {left: 88.6%;bottom: 43%;}
#footertext6 {left: 91.3%;}
.sbb2 {bottom: -12.8%;}
.sbb3 {bottom: 2.7%;}
.sbb4 {bottom: -9%;}
.sbb6 {bottom: -4.3%;}
#strokecircleinside {left: 77.5%;bottom: 53.9%;height: 23%;}
.circle_bottom {left: 41.5%;bottom: 101.8%;}
#eyesbase_circle, #eyesbase_circle2, #eyesbase_circle3, #eyesbase_circle4, #eyesbase_circle5, #eyesbase_circle6 {width: 0.4%;height: 0.7%;}
#eyes_white, #eyes_white1, #eyes_white2, #eyes_white3, #eyes_white4 {width: 0.001%;height: 0.001%;}
#eyefp2 {top: 31%;height: 8%;}
#eyesbase_circle {top: -103.3%;left: 58.25%;}
#eyes_white {left: 58.45%;top: -104.6%;}
#eyesbase_circle4 {top: -106.4%;left: 53.3%;}
#eyes_white3 {top: -107.7%;left: 53.5%;}
#eyesbase_circle3 {left: 52.1%;top: -107.7%;}
#eyes_white2 {left: 52.3%;top: -109.2%;}
#eyesbase_circle5 {top: -109.4%;}
#eyes_white4 {left: 50.6%;top: -110.7%;}
#eyesbase_circle2 {left: 51.2%;top: -96.6%;}
#eyes_white1 {left: 51.4%;top: -97.8%;}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation:portrait) {
/* @media all and (max-width:768px) and (orientation:portrait) { */
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 20px;width: 45%;}
#textbase7 {top: 28.5%;}
#textbase6 {left: 12.5%;top: 65%;}
.shtxt {font-size: 95px;top: -2.48%;left: 12%;}
.shcartinka {width: 20%;margin-left: 8.5%;margin-bottom: 4%;}
#ramka1 {left: 26.8%;bottom: 57.3%;}
.stroke_ball {border: 1px solid #C4929D;left: 85.1%;top: 2%;}
.stroke_ball2 {border: 1px solid #4078A7;left: 96.3%;top: 17.8%;}
.stroke_ball3 {border: 1px solid #519F75;width: 1.3%;height: 2%;}
#blackcrescent {width: 2%;height: 3%;bottom: 47.1%;left: 43.7%;}
#voronoicenter {width: 31%;left: 6.9%;top: 18%;}
#yellowball {height: 11%;left: -0.3%;top: 14%;}
#star1 {height: 13%;}
#star2 {width: 15%;top: -39%;margin-left: 17%;}
#eyefp {height: 9%;margin-left: -38%;top: -33%;}
#star3 {height: 11%;margin-left: 2%;top: -62%;}
#voronoiright {height: 55%;top: -14%;left: 27.7%;}
.voronoileft {height: 66%;top: -19%;}
#footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 12px;}
#textbase2 {left: 38%;}
.ftxt {font-size: 60px;}
.fcartinka {margin-left: 85%;margin-top: 10%;}
.r {font-size: 90px;}
.rtxt {margin-left: 10%;margin-top: -39%;margin-top: -50%;}
.rcartinka {margin-top: 31%;margin-left: 10%;width: 13%;}
.iitxt {font-size: 80px;margin-top: -6%;}
.t1 {font-size: 90px;}
.t1cartinka {margin-left: 4%;margin-top: 19%;width: 15%;}
.t1txt {margin-top: -35%;margin-left: 8.6%;}
.e {font-size: 80px;}
.etxt {margin-top: -157%;margin-left: -22%;}
.ecartinka {margin-top: 165%;margin-left: -31%;width: 43%;}
.t2 {font-size: 70px;}
.t2txt {margin-top: -23%;margin-left: 42%;}
.t2cartinka {margin-left: 38%;margin-top: 11.7%;width: 12%;}
.t3 {font-size: 85px;}
.t3txt {margin-top: -33%;}
.t3cartinka {margin-left: -2.3%;margin-bottom: 4%;width: 12%;}
.a {font-size: 80px;}
.atxt {margin-top: -30.5%;margin-left: -2.1%;}
.acartinka {width: 11%;margin-bottom: 4%;margin-left: -3%;}
#strokeleft {height: 46%;left: 8.5%;bottom: -12.5%;}
#strokecentral {height: 14%;left: -29.3%;bottom: -18.1%;}
.sbl {left: 16.5%;top: -53.3%;border: 2px solid #000000;width: 1.1%;}
.sbl1 {bottom: 150.5%;left: 17.5%;border: 2px solid #000000;}
#fourstar {height: 33%;left: 3.3%;bottom: 36.9%;}
#strokefooter {height: 35%;left: 29.9%;bottom: -12.5%;}
.ramka2qvadrat {display: none;}
#ramka2 {display: none;}
#arrowsmall1 {top: -68.4%;width: 8%;margin-left: 76.9%;}
#arrowsmall2 {top: -69.4%;width: 8%;}
#arrowsmall3 {top: -76.4%;width: 8%;}
.arrowcircle1 {top: -54.9%;width: 6%;height: 8.7%;left: 83.2%;}
.arrowcircle2 {left: 83.8%;top: -64.2%;width: 4.8%;height: 7.3%;}
.arrowcircle3 {top: -72.7%;left: 84.7%;width: 3%;height: 7.2%;}
#qvadrat1 {margin-top: 7.5%;}
#arrowleft, #arrowright {bottom: -24%;width: 21%;height: 4%;}
#voronoibottom {top: -6%;width: 37%;height: 55%;}
#textbase5 {top: 50%;}
#eyefp2 {height: 8%;}
#textbase4 {left: 17%;}
#strokecircle {width: 20%;}
#strokecircleinside {width: 12%;height: 22%;left: -4.5%;bottom: 10.9%;}
#eyesbase {margin-left: 45.9%;}
.fourstarcircle {width: 3.9%;height: 5.7%;left: 30.5%;top: -79.3%;}
.fourstarcircle1 {left: 11.35%;top: -1.7%;width: 2.5%;height: 6.5%;}
#greencrescent {height: 3.8%;left: 56.33%;bottom: 89%;}
.sbb1 {bottom: 102.6%;left: 81.6%;border: 2px solid black;}
.circle_bottom {width: 6%;height: 6%;left: 42.3%;bottom: 88%;}
#textbase9 {top: 79%;}
.sbc1 {border: 2px solid #519F75;}
.sbc2 {border: 2px solid #EA1C1C;}
.sbc3 {border: 2px solid #ECEF4D;}
.sbc4 {border: 2px solid #C4929D;}
.sbc5, .sbc6 {border: 2px solid black;}
#eyes_white, #eyes_white1, #eyes_white2, #eyes_white3, #eyes_white4 {border: 2px solid white;}
#eyesbase_circle, #eyesbase_circle2, #eyesbase_circle3, #eyesbase_circle4, #eyesbase_circle5, #eyesbase_circle6 {width: 0.5%;height: 1%;}
#eyesbase_circle {left: 58.8%;top: -93.1%;}
#eyes_white {left: 59.1%;top: -95%;}
#eyesbase_circle2 {left: 51.4%;top: -95.4%;}
#eyes_white1 {left: 51.7%;top: -96.7%;}
#eyesbase_circle5 {left: 50.3%;top: -94.4%;}
#eyes_white4 {left: 50.7%;top: -95.9%;}
#eyesbase_circle3 {left: 49.4%;top: -94.25%;}
#eyes_white2 {left: 49.6%;top: -95.9%;}
#eyesbase_circle4 {left: 52.9%;top: -96.9%;}
#eyes_white3 {left: 53.3%;top: -98.7%;}
#textbase10 {left: 30%;}
.sbb2 {left: 34.8%;bottom: -15.8%;border: 2px solid #ECEF4D;}
.sbb3 {border: 2px solid #C4929D;left: 44.2%;bottom: -1.5%;}
.sbb4 {border: 2px solid black;left: 47.1%;bottom: -9.5%;}
.sbb5 {border: 2px solid black;left: 71.1%;bottom: -7.5%;}
.sbb6 {border: 2px solid #EA1C1C;left: 86.8%;bottom: -3.5%;}
#footertext1 {left: 1.5%;bottom: 41.5%;}
#footertext2 {left: 43.4%;bottom: 41.8%;}
#footertext3 {bottom: 42.3%;}
#footertext4 {bottom: 30.2%;}
#footertext5 {left: 51%;bottom: 29.8%;}
#footertext6 {left: 91%;bottom: 30%;}
#textbase8 {top:62%;}
#qvadrat1, #qvadrat2, #qvadrat3, #qvadrat4 {border: 1.5px solid #000000;}
}

@media only screen and (max-width: 767px) and (min-width: 568px) and (orientation: landscape){
/* @media all and (max-width:768px) and (orientation:portrait) { */
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 20px;width: 45%;}
#textbase7 {top: 28.5%;}
#textbase6 {left: 12.5%;top: 66.5%;}
.shtxt {font-size: 95px;top: -2.48%;left: 12%;}
.shcartinka {width: 20%;margin-left: 8.5%;margin-bottom: 4%;}
#ramka1 {left: 26.8%;bottom: 57.3%;}
.stroke_ball {border: 1px solid #C4929D;left: 85.1%;top: 2%;}
.stroke_ball2 {border: 1px solid #4078A7;left: 96.3%;top: 17.8%;}
.stroke_ball3 {border: 1px solid #519F75;width: 1.3%;height: 2%;}
#blackcrescent {width: 2%;height: 3%;bottom: 47.1%;left: 43.7%;}
#voronoicenter {width: 31%;left: 6.9%;top: 18%;}
#yellowball {height: 11%;left: -0.3%;top: 14%;}
#star1 {height: 13%;}
#star2 {width: 15%;top: -39%;margin-left: 17%;}
#eyefp {height: 9%;margin-left: -38%;top: -33%;}
#star3 {height: 11%;margin-left: 2%;top: -62%;}
#voronoiright {height: 55%;top: -14%;left: 27.7%;}
.voronoileft {height: 66%;top: -19%;}
#footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 12px;}
#textbase2 {left: 38%;}
.ftxt {font-size: 55px;left: 87%;}
.fcartinka {margin-left: 87%;margin-top: 8%;width: 5%;}
.r {font-size: 90px;}
.rtxt {margin-left: 10%;margin-top: -39%;margin-top: -50%;}
.rcartinka {margin-top: 31%;margin-left: 10%;width: 13%;}
.iitxt {font-size: 80px;margin-top: -6%;}
.t1 {font-size: 90px;}
.t1cartinka {margin-left: 4%;margin-top: 19%;width: 15%;}
.t1txt {margin-top: -35%;margin-left: 8.6%;}
.e {font-size: 80px;}
.etxt {margin-top: -157%;margin-left: -22%;}
.ecartinka {margin-top: 165%;margin-left: -31%;width: 43%;}
.t2 {font-size: 70px;}
.t2txt {margin-top: -27%;margin-left: 44%;}
.t2cartinka {margin-left: 41%;margin-top: 4.7%;width: 10%;}
.t3 {font-size: 85px;}
.t3txt {margin-top: -33%;}
.t3cartinka {margin-left: -2.3%;margin-bottom: 4%;width: 12%;}
.a {font-size: 80px;}
.atxt {margin-top: -30.5%;margin-left: -2.1%;}
.acartinka {width: 11%;margin-bottom: 4%;margin-left: -3%;}
#strokeleft {height: 46%;left: 8.5%;bottom: -12.5%;}
#strokecentral {height: 14%;left: -29.3%;bottom: -22.1%;}
.sbl {left: 16.5%;top: -50.3%;border: 2px solid #000000;width: 1.1%;}
.sbl1 {bottom: 150.5%;left: 17.5%;border: 2px solid #000000;}
#fourstar {height: 33%;left: 3.3%;bottom: 36.9%;}
#strokefooter {height: 35%;left: 29.9%;bottom: -12.5%;}
.ramka2qvadrat {display: none;}
#ramka2 {display: none;}
#arrowsmall1 {top: -68.4%;width: 8%;margin-left: 76.9%;}
#arrowsmall2 {top: -69.4%;width: 8%;}
#arrowsmall3 {top: -76.4%;width: 8%;}
.arrowcircle1 {top: -54.9%;width: 6%;height: 8.7%;left: 83.2%;}
.arrowcircle2 {left: 83.8%;top: -64.2%;width: 4.8%;height: 7.3%;}
.arrowcircle3 {top: -72.7%;left: 84.7%;width: 3%;height: 7.2%;}
#qvadrat1 {margin-top: 7.5%;}
#arrowleft, #arrowright {bottom: -24%;width: 21%;height: 4%;}
#voronoibottom {top: -6%;width: 37%;height: 55%;}
#textbase5 {top: 50%;}
#eyefp2 {height: 8%;}
#textbase4 {left: 17%;}
#strokecircle {width: 20%;}
#strokecircleinside {width: 12%;height: 22%;left: -4.5%;bottom: 10.9%;}
#eyesbase {margin-left: 45.9%;}
.fourstarcircle {width: 3.9%;height: 5.7%;left: 30.4%;top: -79.3%;}
.fourstarcircle1 {left: 11.35%;top: -1.7%;width: 2.5%;height: 6.5%;}
#greencrescent {height: 3.8%;left: 56.33%;bottom: 89%;}
.sbb1 {bottom: 102.6%;left: 81.6%;border: 2px solid black;}
.circle_bottom {width: 6%;height: 6%;left: 42.3%;bottom: 88%;}
#textbase9 {top: 79%;}
.sbc1 {border: 1px solid #519F75;left: 47.4%;top: -40%;}
.sbc2 {border: 1px solid #EA1C1C;left: 57.2%;top: -32.1%;}
.sbc3 {border: 1px solid #ECEF4D;left: 58.8%;top: -31.4%;}
.sbc4 {border: 1px solid #C4929D;left: 51.2%;top: -31.9%;}
.sbc5, .sbc6 {border: 1px solid black;}
.sbc5 {left: 50.7%;top: -40.9%;}
.sbc6 {left: 57%;top: -35%;}
#eyes_white, #eyes_white1, #eyes_white2, #eyes_white3, #eyes_white4 {border: 2px solid white;}
#eyesbase_circle, #eyesbase_circle2, #eyesbase_circle3, #eyesbase_circle4, #eyesbase_circle5, #eyesbase_circle6 {width: 0.5%;height: 1%;}
#eyesbase_circle {left: 58.8%;top: -93.1%;}
#eyes_white {left: 59.1%;top: -95%;}
#eyesbase_circle2 {left: 51.4%;top: -95.4%;}
#eyes_white1 {left: 51.7%;top: -96.7%;}
#eyesbase_circle5 {left: 50.3%;top: -94.4%;}
#eyes_white4 {left: 50.7%;top: -95.9%;}
#eyesbase_circle3 {left: 49.4%;top: -94.25%;}
#eyes_white2 {left: 49.6%;top: -95.9%;}
#eyesbase_circle4 {left: 52.9%;top: -96.9%;}
#eyes_white3 {left: 53.3%;top: -98.7%;}
#textbase10 {left: 30%;}
.sbb2 {left: 34.8%;bottom: -15.8%;border: 2px solid #ECEF4D;}
.sbb3 {border: 2px solid #C4929D;left: 44.2%;bottom: -1.5%;}
.sbb4 {border: 2px solid black;left: 47.1%;bottom: -9.5%;}
.sbb5 {border: 2px solid black;left: 71.1%;bottom: -7.5%;}
.sbb6 {border: 2px solid #EA1C1C;left: 86.8%;bottom: -3.5%;}
#footertext1 {left: 1.5%;bottom: 41.5%;}
#footertext2 {left: 43.4%;bottom: 41.8%;}
#footertext3 {bottom: 42.3%;}
#footertext4 {bottom: 30.2%;}
#footertext5 {left: 51%;bottom: 29.8%;}
#footertext6 {left: 91%;bottom: 30%;}
#textbase8 {top:62%;}
#qvadrat1, #qvadrat2, #qvadrat3, #qvadrat4 {border: 1.5px solid #000000;}
}

@media only screen and (max-width: 767px) and (min-width: 568px) and (orientation: portrait){
  #textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 15px;width: 45%;line-height: 30px;}
  #textbase7 {top: 29.2%;}
  #textbase6 {left: 12.5%;top: 66.5%;}
  .shtxt {font-size: 80px;top: -16.48%;left: 11%;}
  .shcartinka {width: 20%;margin-left: 8.5%;margin-bottom: 4%;}
  #ramka1 {left: 26.8%;bottom: 58.3%;}
  .ramka1ball {left: 44.6%;top: 6.8%;}
  .stroke_ball {border: 1px solid #C4929D;left: 85.6%;top: 2.3%;}
  .stroke_ball2 {border: 1px solid #4078A7;left: 96.5%;top: 18.7%;}
  .stroke_ball3 {border: 1px solid #519F75;}
  .stroke_ball, .stroke_ball2, .stroke_ball3 {width: 1.25%;height: 1.85%;}
  #blackcrescent {width: 2%;height: 3%;bottom: 47.1%;left: 43.7%;}
  #voronoicenter {width: 31%;left: 6.9%;top: 18%;}
  #yellowball {height: 11%;left: -0.3%;top: 14%;}
  #star1 {height: 13%;}
  #star2 {width: 15%;top: -39%;margin-left: 17%;}
  #eyefp {height: 9%;margin-left: -38%;top: -33%;}
  #star3 {height: 11%;margin-left: 2%;top: -62%;}
  #voronoiright {height: 55%;top: -12%;left: 27.7%;}
  .voronoileft {height: 66%;top: -19%;}
  #footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 9px;}
  #textbase2 {left: 38%;}
  .ftxt {font-size: 45px;left: 87%;top: 1%;}
  .fcartinka {margin-left: 87%;margin-top: 8%;width: 5%;}
  .r {font-size: 65px;}
  .rtxt {margin-left: 11%;margin-top: -71%;}
  .rcartinka {margin-top: 31%;margin-left: 10%;width: 13%;}
  .iitxt {font-size: 55px;margin-top: -12%;left: 2%;}
  .t1 {font-size: 70px;}
  .t1cartinka {margin-left: 4%;margin-top: 19%;width: 15%;}
  .t1txt {margin-top: -47%;margin-left: 7.6%;}
  .e {font-size: 55px;}
  .etxt {margin-top: -213%;margin-left: -32%;}
  .ecartinka {margin-top: 165%;margin-left: -31%;width: 43%;}
  .t2 {font-size: 55px;}
  .t2txt {margin-top: -36%;margin-left: 45%;}
  .t2cartinka {margin-left: 41%;margin-top: 4.7%;width: 10%;}
  .t3 {font-size: 65px;}
  .t3txt {margin-top: -48.5%;}
  .t3cartinka {margin-left: -2.3%;margin-bottom: 4%;width: 12%;}
  .a {font-size: 60px;}
  .atxt {margin-top: -43%;margin-left: -2.1%;}
  .acartinka {width: 11%;margin-bottom: 4%;margin-left: -3%;}
  #strokeleft {height: 46%;left: 8.5%;bottom: -12.5%;}
  #strokecentral {height: 14%;left: -29.3%;bottom: -22.1%;}
  .sbl {left: 16.5%;top: -52%;border: 1.5px solid #000000;width: 1.1%;}
  .sbl1 {bottom: 151.8%;left: 17.5%;border: 1.5px solid #000000;}
  #fourstar {height: 33%;left: 3.3%;bottom: 36.9%;}
  #strokefooter {height: 35%;left: 29.9%;bottom: -12.5%;}
  .ramka2qvadrat {display: none;}
  #ramka2 {display: none;}
  #arrowsmall1 {top: -65.4%;width: 8%;margin-left: 76.9%;}
  #arrowsmall2 {top: -66.4%;width: 8%;margin-left: 82.8%;}
  #arrowsmall3 {width: 8%;margin-left: 88.7%;top: -74.1%;}
  .arrowcircle1 {top: -48.9%;width: 6%;height: 8.7%;left: 83.25%;}
  .arrowcircle2 {top: -58.55%;width: 4.8%;height: 7.3%;left: 83.9%;}
  .arrowcircle3 {top: -67.5%;left: 84.9%;width: 3%;height: 7.3%;}
  #qvadrat1 {margin-top: 5.5%;}
  #arrowleft, #arrowright {bottom: -20%;width: 21%;height: 4.5%;}
  #voronoibottom {top: 4%;width: 37%;height: 55%;left: 31.7%;}
  #textbase5 {top: 50%;}
  #eyefp2 {height: 8%;}
  #textbase4 {left: 17%;top: 42.5%;}
  #strokecircle {width: 19%;bottom: 2.9%;}
  #strokecircleinside {width: 12%;height: 22%;left: -4.5%;bottom: 6.9%;}
  #eyesbase {margin-left: 45.9%;}
  .fourstarcircle {width: 3.9%;height: 5.7%;left: 30.35%;top: -79.3%;}
  .fourstarcircle1 {left: 11.5%;top: -0.65%;width: 2.5%;height: 6.5%;border: 2px solid #4078A7;}
  #greencrescent {height: 3.8%;left: 55.33%;bottom: 84%;}
  .sbb1 {bottom: 99.4%;left: 81.8%;border: 1px solid black;}
  .circle_bottom {width: 6%;height: 6.2%;left: 41.1%;bottom: 85%;}
  #textbase9 {top: 84%;}
  .sbc1 {border: 1px solid #519F75;left: 47.7%;top: -40.5%;}
  .sbc2 {border: 1px solid #EA1C1C;left: 57.7%;top: -32.7%;}
  .sbc3 {border: 1px solid #ECEF4D;left: 59.6%;top: -32.5%;}
  .sbc4 {border: 1px solid #C4929D;left: 52.1%;top: -33%;}
  .sbc5, .sbc6 {border: 1px solid black;}
  .sbc5 {left: 51.4%;top: -41.2%;}
  .sbc6 {left: 57.1%;top: -36%;}
  #eyes_white, #eyes_white1, #eyes_white2, #eyes_white3, #eyes_white4 {border: 1.5px solid white;}
  #eyesbase_circle, #eyesbase_circle2, #eyesbase_circle3, #eyesbase_circle4, #eyesbase_circle5, #eyesbase_circle6 {width: 0.5%;height: 1%;border: 2px solid black;}
  #eyesbase_circle {left: 59%;top: -93.6%;}
  #eyes_white {left: 59.1%;top: -95%;}
  #eyesbase_circle2 {left: 51.4%;top: -96.1%;}
  #eyes_white1 {left: 51.7%;top: -97.6%;}
  #eyesbase_circle5 {left: 50.3%;top: -95.4%;}
  #eyes_white4 {left: 50.6%;top: -97%;}
  #eyesbase_circle3 {left: 49.4%;top: -95.2%;}
  #eyes_white2 {left: 49.6%;top: -97%;}
  #eyesbase_circle4 {left: 53%;top: -97.9%;}
  #eyes_white3 {left: 53.3%;top: -99.5%;}
  #textbase10 {left: 32%;top: 30%;}
  .sbb2 {left: 34.8%;bottom: -16.5%;border: 2px solid #ECEF4D;}
  .sbb3 {border: 2px solid #C4929D;left: 44.2%;bottom: -1.5%;}
  .sbb4 {border: 2px solid black;left: 47.1%;bottom: -9.5%;}
  .sbb5 {border: 2px solid black;left: 71.1%;bottom: -7.5%;}
  .sbb6 {border: 2px solid #EA1C1C;left: 86.8%;bottom: -3.5%;}
  #footertext1 {left: 1.5%;bottom: 40.5%;}
  #footertext2 {left: 43.4%;bottom: 41%;}
  #footertext3 {left: 88.5%;bottom: 41.3%;}
  #footertext4 {bottom: 30.2%;}
  #footertext5 {left: 51%;bottom: 29.5%;}
  #footertext6 {left: 91%;bottom: 29.5%;}
  #textbase8 {top:62%;}
  #qvadrat1, #qvadrat2, #qvadrat3, #qvadrat4 {border: 1.5px solid #000000;}

}

@media only screen and (max-width: 567px) and (min-width: 341px){
  #textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 15px;width: 45%;line-height: 30px;}
  #textbase7 {top: 29.2%;}
  #textbase6 {left: 12.5%;top: 66.5%;}
  .shtxt {font-size: 80px;top: -16.48%;left: 11%;}
  .shcartinka {width: 20%;margin-left: 8.5%;margin-bottom: 4%;}
  #ramka1 {left: 26.8%;bottom: 58.3%;}
  .ramka1ball {left: 44.6%;top: 6.8%;}
  .stroke_ball {border: 1px solid #C4929D;left: 85.6%;top: 2.3%;}
  .stroke_ball2 {border: 1px solid #4078A7;left: 96.5%;top: 18.7%;}
  .stroke_ball3 {border: 1px solid #519F75;}
  .stroke_ball, .stroke_ball2, .stroke_ball3 {width: 1.25%;height: 1.85%;}
  #blackcrescent {width: 2%;height: 3%;bottom: 47.1%;left: 43.7%;}
  #voronoicenter {width: 31%;left: 6.9%;top: 18%;}
  #yellowball {height: 11%;left: -0.3%;top: 14%;}
  #star1 {height: 13%;}
  #star2 {width: 15%;top: -39%;margin-left: 17%;}
  #eyefp {height: 9%;margin-left: -38%;top: -33%;}
  #star3 {height: 11%;margin-left: 2%;top: -62%;}
  #voronoiright {height: 55%;top: -12%;left: 27.7%;}
  .voronoileft {height: 66%;top: -19%;}
  #footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 9px;}
  #textbase2 {left: 38%;}
  .ftxt {font-size: 45px;left: 87%;top: 1%;}
  .fcartinka {margin-left: 87%;margin-top: 8%;width: 5%;}
  .r {font-size: 65px;}
  .rtxt {margin-left: 11%;margin-top: -71%;}
  .rcartinka {margin-top: 31%;margin-left: 10%;width: 13%;}
  .iitxt {font-size: 55px;margin-top: -12%;left: 2%;}
  .t1 {font-size: 70px;}
  .t1cartinka {margin-left: 4%;margin-top: 19%;width: 15%;}
  .t1txt {margin-top: -47%;margin-left: 7.6%;}
  .e {font-size: 55px;}
  .etxt {margin-top: -213%;margin-left: -32%;}
  .ecartinka {margin-top: 165%;margin-left: -31%;width: 43%;}
  .t2 {font-size: 55px;}
  .t2txt {margin-top: -36%;margin-left: 45%;}
  .t2cartinka {margin-left: 41%;margin-top: 4.7%;width: 10%;}
  .t3 {font-size: 65px;}
  .t3txt {margin-top: -48.5%;}
  .t3cartinka {margin-left: -2.3%;margin-bottom: 4%;width: 12%;}
  .a {font-size: 60px;}
  .atxt {margin-top: -43%;margin-left: -2.1%;}
  .acartinka {width: 11%;margin-bottom: 4%;margin-left: -3%;}
  #strokeleft {height: 46%;left: 8.5%;bottom: -12.5%;}
  #strokecentral {height: 14%;left: -29.3%;bottom: -22.1%;}
  .sbl {left: 16.5%;top: -52%;border: 1.5px solid #000000;width: 1.1%;}
  .sbl1 {bottom: 151.8%;left: 17.5%;border: 1.5px solid #000000;}
  #fourstar {height: 33%;left: 3.3%;bottom: 36.9%;}
  #strokefooter {height: 35%;left: 29.9%;bottom: -12.5%;}
  .ramka2qvadrat {display: none;}
  #ramka2 {display: none;}
  #arrowsmall1 {top: -65.4%;width: 8%;margin-left: 76.9%;}
  #arrowsmall2 {top: -66.4%;width: 8%;margin-left: 82.8%;}
  #arrowsmall3 {width: 8%;margin-left: 88.7%;top: -74.1%;}
  .arrowcircle1 {top: -48.9%;width: 6%;height: 8.7%;left: 83.25%;}
  .arrowcircle2 {top: -58.55%;width: 4.8%;height: 7.3%;left: 83.9%;}
  .arrowcircle3 {top: -67.5%;left: 84.9%;width: 3%;height: 7.3%;}
  #qvadrat1 {margin-top: 5.5%;}
  #arrowleft, #arrowright {bottom: -20%;width: 21%;height: 4.5%;}
  #voronoibottom {top: 4%;width: 37%;height: 55%;left: 31.7%;}
  #textbase5 {top: 50%;}
  #eyefp2 {height: 8%;}
  #textbase4 {left: 17%;top: 42.5%;}
  #strokecircle {width: 19%;bottom: 2.9%;}
  #strokecircleinside {width: 12%;height: 22%;left: -4.5%;bottom: 6.9%;}
  #eyesbase {margin-left: 45.9%;}
  .fourstarcircle {width: 3.9%;height: 5.7%;left: 30.35%;top: -79.3%;}
  .fourstarcircle1 {left: 11.5%;top: -0.65%;width: 2.5%;height: 6.5%;border: 2px solid #4078A7;}
  #greencrescent {height: 3.8%;left: 55.33%;bottom: 84%;}
  .sbb1 {bottom: 99.4%;left: 81.8%;border: 1px solid black;}
  .circle_bottom {width: 6%;height: 6.2%;left: 41.1%;bottom: 85%;}
  #textbase9 {top: 84%;}
  .sbc1 {border: 1px solid #519F75;left: 47.7%;top: -40.5%;}
  .sbc2 {border: 1px solid #EA1C1C;left: 57.7%;top: -32.7%;}
  .sbc3 {border: 1px solid #ECEF4D;left: 59.6%;top: -32.5%;}
  .sbc4 {border: 1px solid #C4929D;left: 52.1%;top: -33%;}
  .sbc5, .sbc6 {border: 1px solid black;}
  .sbc5 {left: 51.4%;top: -41.2%;}
  .sbc6 {left: 57.1%;top: -36%;}
  #eyes_white, #eyes_white1, #eyes_white2, #eyes_white3, #eyes_white4 {border: 1.5px solid white;}
  #eyesbase_circle, #eyesbase_circle2, #eyesbase_circle3, #eyesbase_circle4, #eyesbase_circle5, #eyesbase_circle6 {width: 0.5%;height: 1%;border: 2px solid black;}
  #eyesbase_circle {left: 59%;top: -93.6%;}
  #eyes_white {left: 59.1%;top: -95%;}
  #eyesbase_circle2 {left: 51.4%;top: -96.1%;}
  #eyes_white1 {left: 51.7%;top: -97.6%;}
  #eyesbase_circle5 {left: 50.3%;top: -95.4%;}
  #eyes_white4 {left: 50.6%;top: -97%;}
  #eyesbase_circle3 {left: 49.4%;top: -95.2%;}
  #eyes_white2 {left: 49.6%;top: -97%;}
  #eyesbase_circle4 {left: 53%;top: -97.9%;}
  #eyes_white3 {left: 53.3%;top: -99.5%;}
  #textbase10 {left: 32%;top: 30%;}
  .sbb2 {left: 34.8%;bottom: -16.5%;border: 2px solid #ECEF4D;}
  .sbb3 {border: 2px solid #C4929D;left: 44.2%;bottom: -1.5%;}
  .sbb4 {border: 2px solid black;left: 47.1%;bottom: -9.5%;}
  .sbb5 {border: 2px solid black;left: 71.1%;bottom: -7.5%;}
  .sbb6 {border: 2px solid #EA1C1C;left: 86.8%;bottom: -3.5%;}
  #footertext1 {left: 1.5%;bottom: 40.5%;}
  #footertext2 {left: 43.4%;bottom: 41%;}
  #footertext3 {left: 88.5%;bottom: 41.3%;}
  #footertext4 {bottom: 30.2%;}
  #footertext5 {left: 51%;bottom: 29.5%;}
  #footertext6 {left: 91%;bottom: 29.5%;}
  #textbase8 {top:62%;}
  #qvadrat1, #qvadrat2, #qvadrat3, #qvadrat4 {border: 1.5px solid #000000;}
}

@media only screen and (max-width: 736px) and (min-width: 413px) and (orientation:portrait){
  #textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 13px;width: 65%;line-height: 20px;}
  #textbase7 {top: 34.5%;left: 5%;}
  #textbase1 {left: 4%;top: 6.52%;}
  #textbase2 {top: 46%;left: 42%;}
  #textbase6 {left: 12%;top: 74.6%;}
  #textbase3 {left: 82%;top: 45%;}
  #textbase4 {left: 15%;top: 49.5%;}
  #textbase11 {left: 10%;top: 79.5%;}
  .shtxt {font-size: 60px;top: -21.48%;left: 15.5%;}
  .shcartinka {width: 20%;margin-left: 11.5%;margin-bottom: 28%;}
  #ramka1, .ramka1ball, .ramka1ball1 {display: none;}
  #strokeright {left: 64%;bottom: 44.9%;}
  .stroke_ball {border: 1px solid #C4929D;left: 82.7%;top: 8.5%;}
  .stroke_ball2 {border: 1px solid #4078A7;left: 93.6%;top: 25.8%;}
  .stroke_ball3 {border: 1px solid #519F75;left: 84.1%;top: 10.4%;}
  .stroke_ball, .stroke_ball2, .stroke_ball3 {width: 1.25%;height: 1.85%;}
  #blackcrescent {width: 3%;height: 3%;bottom: 40.1%;left: 53.7%;}
  #textbase11 {left: 15%;top: 74.5%;}
  #voronoicenter {width: 32%;left: 19.9%;top: 39%;}
  #yellowball {height: 9%;left: 14.7%;top: 27%;}
  #star1 {height: 13%;}
  #star2 {width: 15%;top: -35%;margin-left: 17%;height: 17%;}
  #eyefp {height: 9%;margin-left: -45%;top: -20%;}
  #star3 {height: 10%;margin-left: 0%;top: -46%;}
  #voronoiright {height: 49%;top: -6%;left: 34.7%;}
  .voronoileft {height: 58%;top: -8%;width: 36%;}
  #footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 7px;}
  .ftxt {font-size: 30px;left: 88%;top: 1%;}
  .fcartinka {margin-left: 87%;margin-top: 9%;width: 5%;}
  .r {font-size: 41px;}
  .rtxt {margin-left: 10%;margin-top: -83%;}
  .rcartinka {margin-top: 31%;margin-left: 10%;width: 13%;}
  .iitxt {font-size: 45px;margin-top: -28%;left: -3%;}
  .iicartinka {margin-bottom: 12%;margin-left: -4%;width: 8%;}
  .t1 {font-size: 45px;}
  .t1cartinka {margin-left: 2%;margin-bottom: 15%;width: 15%;}
  .t1txt {margin-top: -78%;margin-left: 6.5%;}
  .e {font-size: 35px;}
  .etxt {margin-top: -298%;margin-left: -32%;}
  .ecartinka {margin-top: 204%;margin-left: -31%;width: 43%;}
  .t2 {font-size: 32px;}
  .t2txt {margin-top: -55%;margin-left: 47%;}
  .t2cartinka {margin-left: 43.7%;margin-bottom: 16.5%;width: 10%;}
  .t3 {font-size: 45px;}
  .t3txt {margin-top: -68.5%;}
  .t3cartinka {margin-left: -3%;margin-bottom: 20%;width: 12%;}
  .a {font-size: 40px;}
  .atxt {margin-top: -63%;margin-left: 3%;}
  .acartinka {width: 9%;margin-bottom: 19%;margin-left: 2%;}
  #strokeleft {height: 41%;left: -75.5%;bottom: -71.5%;}
  #strokecentral {height: 17%;left: -23.3%;bottom: -42.1%;}
  .sbl {left: 16.2%;top: 10%;border: 1.5px solid #000000;width: 1.1%;}
  .sbl1 {bottom: 101.3%;left: 16.7%;border: 1.5px solid #000000;}
  #fourstar {height: 41%;left: 8.3%;bottom: -2.1%;}
  #strokefooter {height: 31%;left: 35.9%;bottom: -50.5%;}
  .ramka2qvadrat {display: none;}
  #ramka2 {display: none;}
  #arrowsmall1 {top: -10.6%;width: 8%;margin-left: 76.9%;}
  #arrowsmall2 {top: -13.6%;width: 8%;margin-left: 82.7%;}
  #arrowsmall3 {width: 8%;margin-left: 83%;top: -24.1%;}
  .arrowcircle1 {top: 8.1%;width: 6%;height: 8.7%;left: 83%;}
  .arrowcircle2 {top: -2%;width: 4.8%;height: 7.3%;left: 83.7%;}
  .arrowcircle3 {top: -11.8%;left: 84.55%;width: 3%;height: 7.3%;}
  #qvadrat1 {margin-top: 4%;}
  #arrowleft, #arrowright {bottom: -18%;width: 21%;height: 4.5%;}
  #voronoibottom {top: 14%;width: 37%;height: 49%;left: 37.7%;}
  #textbase5 {top: 53%;left: 68%;}
  #eyefp2 {height: 8%;left: -47%;top: 44%;}
  #textbase4 {left: 14%;top: 44.5%;}
  .sbb1, #greencrescent, #strokecircle {display: none;}
  #strokecircleinside {width: 16%;height: 33%;left: 16%;bottom: -38.1%;}
  .fourstarcircle {width: 5.1%;height: 8%;left: 36.7%;top: -30.9%;border: 1px solid #ECEF4D;}
  .fourstarcircle1 {left: 14.3%;top: 4%;width: 3.3%;height: 7.7%;border: 1px solid #4078A7;}
  .circle_bottom {width: 5.5%;height: 7.5%;left: 42.6%;bottom: 49.5%;}
  #textbase9 {top: 86%;left: 69%;}
  .sbc1 {border: 1px solid #519F75;left: 44.6%;top: 23.1%;}
  .sbc2 {border: 1px solid #EA1C1C;left: 56.8%;top: 32.6%;}
  .sbc3 {border: 1px solid #ECEF4D;left: 56.8%;top: 33.3%;}
  .sbc4 {border: 1px solid #C4929D;left: 49.6%;top: 32.6%;}
  .sbc5 {border: 1px solid black;left: 48.8%;top: 23.4%;}
  .sbc6 {border: 1px solid black;left: 56.1%;top: 28.6%;}
  #eyes_white, #eyes_white1, #eyes_white2, #eyes_white3, #eyes_white4, #eyesbase, #eyesbase_circle, #eyesbase_circle2, #eyesbase_circle3, #eyesbase_circle4, #eyesbase_circle5, #eyesbase_circle6 {display: none;}
  #textbase10 {left: 41%;top: 30%;}
  .sbb2 {left: 43.8%;bottom: -14.5%;border: 1.5px solid #ECEF4D;}
  .sbb3 {border: 1.5px solid #C4929D;left: 51.7%;bottom: -1.1%;}
  .sbb4 {border: 1.5px solid black;left: 56.2%;bottom: -9.5%;}
  .sbb5 {border: 1.5px solid black;left: 74.6%;bottom: -18.5%;}
  .sbb6 {border: 1.5px solid #EA1C1C;left: 89.6%;bottom: -0.2%;}
  #footertext1 {left: 1.2%;bottom: 37.5%;}
  #footertext2 {left: 42.7%;bottom: 36.55%;}
  #footertext3 {left: 88.1%;bottom: 36.5%;}
  #footertext4 {bottom: 24.2%;left: 2%;}
  #footertext5 {left: 51%;bottom: 23.6%;}
  #footertext6 {left: 91%;bottom: 24%;}
  #textbase8 {top:68%;}
  #qvadrat1, #qvadrat2, #qvadrat3, #qvadrat4 {border: 1.5px solid #000000;}
  #qvadrat1, #qvadrat2, #qvadrat3 {height: 8%;}
}


@media all and (max-width: 340px){
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 10px;width: 65%;line-height: 15px;}
#textbase7 {top: 36.5%;left: 5%;}
#textbase1 {left: 4%;top: 6.52%;}
#textbase2 {top: 46%;left: 42%;}
#textbase6 {left: 12%;top: 74.6%;}
#textbase3 {left: 82%;top: 45%;}
#textbase4 {left: 15%;top: 45.5%;}
#textbase11 {left: 14%;top: 73.5%;}
.shtxt {font-size: 45px;top: -28.48%;left: 15%;}
.shcartinka {width: 20%;margin-left: 11.5%;margin-bottom: 28%;}
#ramka1, .ramka1ball, .ramka1ball1 {display: none;}
#strokeright {left: 64%;bottom: 44.9%;}
.stroke_ball {border: 1px solid #C4929D;left: 82.7%;top: 8.5%;}
.stroke_ball2 {border: 1px solid #4078A7;left: 93.6%;top: 25.8%;}
.stroke_ball3 {border: 1px solid #519F75;left: 84.1%;top: 10.4%;}
.stroke_ball, .stroke_ball2, .stroke_ball3 {width: 1.25%;height: 1.85%;}
#blackcrescent {width: 3%;height: 3%;bottom: 40.1%;left: 53.7%;}
#textbase11 {left: 15%;top: 74.5%;}
#voronoicenter {width: 30%;left: 19.9%;top: 38%;}
#yellowball {height: 9%;left: 11.7%;top: 33%;}
#star1 {height: 13%;}
#star2 {width: 15%;top: -35%;margin-left: 17%;height: 17%;}
#eyefp {height: 9%;margin-left: -45%;top: -29%;}
#star3 {height: 10%;margin-left: 0%;top: -46%;}
#voronoiright {height: 49%;top: -6%;left: 34.7%;}
.voronoileft {height: 62%;top: -15%;width: 36%;}
#footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 5px;}
.ftxt {font-size: 22px;left: 87%;top: -5%;}
.fcartinka {margin-left: 87%;margin-top: 9%;width: 5%;}
.r {font-size: 37px;}
.rtxt {margin-left: 11%;margin-top: -115%;}
.rcartinka {margin-top: 31%;margin-left: 10%;width: 13%;}
.iitxt {font-size: 30px;margin-top: -33%;left: -2%;}
.iicartinka {margin-bottom: 12%;margin-left: -4%;width: 8%;}
.t1 {font-size: 45px;}
.t1cartinka {margin-left: 2%;margin-bottom: 15%;width: 15%;}
.t1txt {margin-top: -93%;margin-left: 5.5%;}
.e {font-size: 35px;}
.etxt {margin-top: -344%;margin-left: -22%;}
.ecartinka {margin-top: 204%;margin-left: -31%;width: 43%;}
.t2 {font-size: 28px;}
.t2txt {margin-top: -71%;margin-left: 47%;}
.t2cartinka {margin-left: 43.7%;margin-bottom: 16.5%;width: 10%;}
.t3 {font-size: 35px;}
.t3txt {margin-top: -85.5%;}
.t3cartinka {margin-left: -3%;margin-bottom: 20%;width: 12%;}
.a {font-size: 35px;}
.atxt {margin-top: -77%;margin-left: 3%;}
.acartinka {width: 9%;margin-bottom: 19%;margin-left: 2%;}
#strokeleft {height: 41%;left: 8.5%;bottom: -25.5%;}
#strokecentral {height: 14%;left: -25.3%;bottom: -33.1%;}
.sbl {left: 16.2%;top: -38%;border: 1.5px solid #000000;width: 1.1%;}
.sbl1 {bottom: 101%;left: 16.7%;border: 1.5px solid #000000;}
#fourstar {height: 41%;left: 8.3%;bottom: -2.1%;}
#strokefooter {height: 31%;left: 35.9%;bottom: -50.5%;}
.ramka2qvadrat {display: none;}
#ramka2 {display: none;}
#arrowsmall1 {top: -61.4%;width: 8%;margin-left: 77.9%;}
#arrowsmall2 {top: -65.6%;width: 8%;margin-left: 83.3%;}
#arrowsmall3 {width: 8%;margin-left: 88.7%;top: -78.1%;}
.arrowcircle1 {top: -41.9%;width: 6%;height: 8.7%;left: 83%;}
.arrowcircle2 {top: -52.8%;width: 4.8%;height: 7.3%;left: 83.6%;}
.arrowcircle3 {top: -62.8%;left: 84.55%;width: 3%;height: 7.3%;}
#qvadrat1 {margin-top: 2.5%;}
#arrowleft, #arrowright {bottom: -15%;width: 21%;height: 4.5%;}
#voronoibottom {top: 9%;width: 37%;height: 49%;left: 35.7%;}
#textbase5 {top: 53%;left: 68%;}
#eyefp2 {height: 8%;left: -47%;top: 40%;}
#textbase4 {left: 14%;top: 44.5%;}
.sbb1, #greencrescent, #strokecircle {display: none;}
#strokecircleinside {width: 16%;height: 33%;left: 16%;bottom: -38.1%;}
.fourstarcircle {width: 5.1%;height: 8%;left: 36.9%;top: -31.5%;border: 1px solid #ECEF4D;}
.fourstarcircle1 {left: 14.3%;top: 4.4%;width: 3.3%;height: 7.7%;border: 1px solid #4078A7;}
.circle_bottom {width: 5.5%;height: 7.5%;left: 42.6%;bottom: 49.5%;}
#textbase9 {top: 86%;left: 69%;}
.sbc1 {border: 1px solid #519F75;left: 44.7%;top: -25.9%;}
.sbc2 {border: 1px solid #EA1C1C;left: 55%;top: -18.4%;}
.sbc3 {border: 1px solid #ECEF4D;left: 56.7%;top: -18.2%;}
.sbc4 {border: 1px solid #C4929D;left: 49.1%;top: -19%;}
.sbc5 {border: 1px solid black;left: 48.2%;top: -27.6%;}
.sbc6 {border: 1px solid black;left: 54.1%;top: -23.2%;}
#eyes_white, #eyes_white1, #eyes_white2, #eyes_white3, #eyes_white4, #eyesbase, #eyesbase_circle, #eyesbase_circle2, #eyesbase_circle3, #eyesbase_circle4, #eyesbase_circle5, #eyesbase_circle6 {display: none;}
#textbase10 {left: 41%;top: 30%;}
.sbb2 {left: 43.8%;bottom: -14.5%;border: 1.5px solid #ECEF4D;}
.sbb3 {border: 1.5px solid #C4929D;left: 51.7%;bottom: -1.1%;}
.sbb4 {border: 1.5px solid black;left: 56.2%;bottom: -9.5%;}
.sbb5 {border: 1.5px solid black;left: 74.6%;bottom: -18.5%;}
.sbb6 {border: 1.5px solid #EA1C1C;left: 89.6%;bottom: -0.2%;}
#footertext1 {left: 2%;bottom: 35.6%;}
#footertext2 {left: 43.7%;bottom: 35.55%;}
#footertext3 {left: 88.9%;bottom: 34.6%;}
#footertext4 {bottom: 22.6%;left: 2%;}
#footertext5 {left: 51%;bottom: 21.5%;}
#footertext6 {left: 91.3%;bottom: 21.5%;}
#textbase8 {top:68%;}
#qvadrat1, #qvadrat2, #qvadrat3, #qvadrat4 {border: 1.5px solid #000000;}
#qvadrat1, #qvadrat2, #qvadrat3 {height: 8%;}
}
