@media all and (max-width: 1440px) and (min-width:900px){
.ramka2qvadrat {margin-left: 56.99%;margin-top: -79.9%;
}
.arrowcircle3 {top: -94.4%;}
#footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 21px;}
.sbl {top: -73.3%;}
.sbl1 {bottom: 174.5%;}
#voronoibottom {left: 30.7%;}
.t3 {font-size: 225px;top: 31%;}
.t3txt {margin-top: -14%;}
.t3cartinka {margin-top: 2%;margin-left: -4%;background-size: cover;width: 18%;}
.t2 {top: -2%;left: 43.5%;font-size: 169px;}
.atxt {margin-top: -15%;margin-left: -1%;}
.a {margin-top: -3%;}
.acartinka {    margin-top: 2%;margin-top: 1%;}
.fourstarcircle {top: -93%;}
#footertext1 {bottom: 40.7%;}
#footertext2 {bottom: 41%;left: 44%;}
#footertext3 {bottom: 41.4%;}
#footertext4 {bottom: 29.6%;}
#footertext5 {bottom: 29.3%;left: 50.5%;}
#footertext6 {bottom: 29.5%;}
#textbase10 {left: 26.5%;}
#eyesbase_circle3 {left: 48.55%;top: -110.5%;}
#eyes_white2 {left: 48.87%;top: -111.8%;}
#eyesbase_circle4 {top: -108.3%;}
#eyes_white3 {top: -109.6%;}
#eyesbase_circle {top: -106.2%;}
#eyes_white {top: -107.5%;}
#eyesbase_circle5 {top: -111.5%;}
#eyes_white4 {left: 46.77%;top: -112.8%;}
#eyesbase_circle2 {left: 47.3%;top: -97.4%;}
#eyes_white1 {left: 47.6%;top: -98.7%;}
#strokecirleinside {left: -6.9%;}
.circlebottom {left: 41%;}
.sbb1 {bottom: 113.6%;}
#yellowball {top: 3%;}
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 32px;}
}

@media all and (max-width: 1366px) and (min-width:768px){
#voronoicenter {left: -0.3%;}
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 29px;}
#ramka1 {bottom: 57.6%;}
.rtxt {margin-left: 2%;}
.ftxt {top: 18%;left: 84%;font-size: 101px;}
.r {font-size: 125px;}
.shtxt {font-size: 158px;}
#star1 {top: -12%;width: 16%;height: 16%;}
.t1txt {margin-top: -19%;margin-left: 1.3%;}
.t1 {font-size: 182px;}
.atxt {margin-top: -15.3%;margin-left: 0%;}
.acartinka {background-size: cover;width: 13%;margin-top: 3%;margin-left: -1%;}
.fourstarcircle {top: -93.4%;}
.fourstarcircle1 {left: 11.3%;top: -3.44%;}
.sbb1 {bottom: 114.6%;}
#star3 {top: -74%;height: 14%;}
.strokeleft {bottom: 6.8%;}
.sbl1 {bottom: 174.8%;}
.t2 {top: -7%;font-size: 149px;}
.t2cartinka {margin-left: 37%;margin-top: 4.7%;background-size: cover;width: 13%;}
.t2txt {margin-top: -11%;}
.t3 {font-size: 197px;}
.t3cartinka {margin-top: 3%;width: 17%;}
.t3txt {margin-top: -16%;}
#strokecentral {left: -36.3%;bottom: -19.1%;}
#ramka2 {bottom: 14%;}
.ramka2qvadrat {margin-top: -78.5%;}
.sbc1 {left: 46.9%;top: -45.5%;}
.sbc6 {left: 56.7%;top: -40.9%;}
.sbc4 {left: 51.6%;top: -37.6%;}
.sbc3 {left: 59.7%;top: -36.5%;}
.sbc5 {left: 50.8%;top: -46%;}
.sbc2 {left: 57.6%;top: -36.9%;}
#arrowsmall1 {top: -82%;}
#arrowsmall2 {top: -82.4%;}
#arrowsmall3 {margin-left: 88.5%;top: -89.4%;}
.arrowcircle1 {top: -68.9%;}
.arrowcircle2 {top: -78.7%;}
.arrowcircle3 {height: 7.3%;top: -86.7%;}
#footertext1 {left: 1.7%;bottom: 40.2%;}
#footertext2 {bottom: 40.7%;}
#footertext3 {left: 88.55%;bottom: 40.8%;}
#footertext4 {bottom: 29.4%;}
#footertext5 {bottom: 28.8%;}
#footertext6 {bottom: 29%;}
}

@media all and (max-width: 1280px) and (min-width:800px){}
@media all and (max-width: 1024px) and (min-width:768px){}
@media all and (max-width: 768px) and (min-width:1024px){}
@media all and (max-width: 320px) and (min-width:568px){}
