@media all and (max-width: 1792px) and (min-width:1057px){
.atxt {margin-top: -11.5%;margin-left: -0.5%;}
.acartinka {margin-top: 0%;margin-left: -1%;}

}
@media all and (max-width: 1440px) and (min-width:900px){
.ramka2qvadrat {margin-left: 56.99%;margin-top: -79.9%;
}
.arrowcircle3 {top: -94.4%;}
#footertext1, #footertext2, #footertext3, #footertext4, #footertext5, #footertext6 {font-size: 21px;}
.sbl {top: -73.3%;}
.sbl1 {bottom: 174.5%;}
#voronoibottom {left: 30.7%;}
.t3 {font-size: 225px;top: 31%;}
.t3txt {margin-top: -14%;}
.t3cartinka {margin-top: 2%;margin-left: -4%;background-size: cover;width: 18%;}
.t2 {top: -2%;left: 43.5%;font-size: 169px;}
.atxt {margin-top: -15%;margin-left: -1%;}
.a {margin-top: -3%;}
.acartinka {margin-top: 2%;margin-left: -2%;}
.fourstarcircle {top: -93%;}
#footertext1 {bottom: 40.7%;}
#footertext2 {bottom: 41%;left: 44%;}
#footertext3 {bottom: 41.4%;}
#footertext4 {bottom: 29.6%;}
#footertext5 {bottom: 29.3%;left: 50.5%;}
#footertext6 {bottom: 29.5%;}
#textbase10 {left: 26.5%;}
#eyesbase_circle3 {left: 48.55%;top: -110.5%;}
#eyes_white2 {left: 48.87%;top: -111.8%;}
#eyesbase_circle4 {top: -108.3%;}
#eyes_white3 {top: -109.6%;}
#eyesbase_circle {top: -106.2%;}
#eyes_white {top: -107.5%;}
#eyesbase_circle5 {top: -111.5%;}
#eyes_white4 {left: 46.77%;top: -112.8%;}
#eyesbase_circle2 {left: 47.3%;top: -97.4%;}
#eyes_white1 {left: 47.6%;top: -98.7%;}
#strokecirleinside {left: -6.9%;}
.circlebottom {left: 41%;}
.sbb1 {bottom: 113.6%;}
#yellowball {top: 3%;}
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 32px;}
}

@media all and (max-width: 1366px) and (min-width:768px){
#voronoicenter {left: -0.3%;}
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 29px;}
#ramka1 {bottom: 57.6%;}
.rtxt {margin-left: 2%;}
.ftxt {top: 18%;left: 84%;font-size: 101px;}
.fcartinka {margin-top: 3%;width: 6%;}
.r {font-size: 125px;}
.shtxt {font-size: 158px;}
#star1 {top: -12%;width: 16%;height: 16%;}
.t1txt {margin-top: -19%;margin-left: 1.3%;}
.t1 {font-size: 182px;}
.atxt {margin-top: -15.3%;margin-left: 0%;}
.acartinka {background-size: cover;width: 13%;margin-top: 3%;margin-left: -1%;}
.fourstarcircle {top: -93.4%;}
.fourstarcircle1 {left: 11.3%;top: -3.44%;}
.sbb1 {bottom: 114.6%;}
#star3 {top: -74%;height: 14%;}
.strokeleft {bottom: 6.8%;}
.sbl1 {bottom: 174.8%;}
.t2 {top: -7%;font-size: 149px;}
.t2cartinka {margin-left: 37%;margin-top: 4.7%;background-size: cover;width: 13%;}
.t2txt {margin-top: -11%;}
.t3 {font-size: 197px;}
.t3cartinka {margin-top: 4%;width: 17%;}
.t3txt {margin-top: -16%;}
.iicartinka {margin-top: 20%;margin-left: -2%;width: 9%;}
#strokecentral {left: -36.3%;bottom: -19.1%;}
#ramka2 {bottom: 14%;}
.ramka2qvadrat {margin-top: -78.5%;}
.sbc1 {left: 46.9%;top: -45.5%;}
.sbc6 {left: 56.7%;top: -40.9%;}
.sbc4 {left: 51.6%;top: -37.6%;}
.sbc3 {left: 59.7%;top: -36.5%;}
.sbc5 {left: 50.8%;top: -46%;}
.sbc2 {left: 57.6%;top: -36.9%;}
#arrowsmall1 {top: -82%;}
#arrowsmall2 {top: -82.4%;}
#arrowsmall3 {margin-left: 88.5%;top: -89.4%;}
.arrowcircle1 {top: -68.9%;}
.arrowcircle2 {top: -78.7%;}
.arrowcircle3 {height: 7.3%;top: -86.7%;}
#footertext1 {left: 1.7%;bottom: 40.2%;}
#footertext2 {bottom: 40.7%;}
#footertext3 {left: 88.55%;bottom: 40.8%;}
#footertext4 {bottom: 29.4%;}
#footertext5 {bottom: 28.8%;}
#footertext6 {bottom: 29%;}
}

@media all and (max-width: 1280px) and (min-width:800px){
#textbase1, #textbase2, #textbase3, #textbase4, #textbase5, #textbase6, #textbase7, #textbase8, #textbase9, #textbase10, #textbase11 {font-size: 27px;}
#yellowball {width: 7%;left: -1.3%;}
.ftxt {left: 84.5%;font-size: 96px;top: 15%;}
.fcartinka {margin-top: 5%;margin-left: 85%;}
#voronoicenter {left: 1.7%;}
#textbase2 {left: 38%;}
.shtxt {left: 10%;}
.shcartinka {margin-left: 4.6%;margin-top: 2%;}
#textbase11 {left: 12%;top: 71.5%;}
.r {font-size: 113px;margin-left: 3%;top: 53%;}
.rcartinka {margin-top: 21%;}
#star2 {margin-left: 16%;top: -65%;}
#voronoiright {left: 11.7%;}
.voronoileft {width: 37%;height: 72%;}
.t1 {font-size: 165px;}
.t1cartinka {margin-left: -2.8%;margin-top: 1%;background-size: cover;width: 15%;}
.t1txt {margin-top: -20.3%;}
#textbase4 {left: 22%;top: 37.5%;}
#textbase5 {left: 77%;top: 44%;}
.ramka2qvadrat {margin-left: 61%;}
#strokecentral {left: 46.7%;bottom: 28.7%;}
#strokeleft {left: -5.7%;bottom: 6.5%;}
#textbase6 {top: 54.5%;}
#textbase7 {top: 20.5%;}
.e {font-size: 125px;}
#voronoibottom {left: 28.7%;top: -1%;}
.sbc5 {left: 50.4%;}
.sbc4 {left: 51%;top: -36.7%;}
.sbc3 {left: 59.4%;top: -36.5%;}
.t2 {top: -6%;font-size: 133px;}
.t2cartinka {margin-top: 8.7%;width: 12%;}
.t2txt {margin-left: 40.6%;margin-top: -12%;}
.t3 {font-size: 165px;}
.t3txt {margin-top: -18%;}
#eyesbase {width: 16%;height: 20%;margin-left: 47.9%;top: -4.9%;}
#eyesbase_circle {top: -104.7%;left: 59%;}
#eyes_white {left: 59.3%;top: -106.2%;}
#eyesbase_circle3 {left: 52.3%;top: -109.5%;}
#eyes_white2 {left: 52.55%;top: -110.9%;}
#eyesbase_circle4 {top: -107.9%;left: 53.6%;}
#eyes_white3 {top: -109.3%;left: 53.92%;}
#eyesbase_circle5 {top: -111.1%;left: 50.4%;}
#eyes_white4 {left: 50.7%;top: -112.5%;}
#eyesbase_circle2 {left: 51.2%;top: -97.2%;}
#eyes_white1 {left: 51.5%;top: -98.6%;}
#strokecircleinside {left: 78.5%;bottom: 53.9%;}
#strokecircle {left: 9.7%;}
#eyefp2 {left: -48%;top: 35%;height: 9%;}
#eyefp {height: 9%;}
.circle_bottom {left: 41%;bottom: 101.5%;}
.fourstarcircle {left: 33.8%;top: -94%;}
.fourstarcircle1 {top: -3%;height: 8%;}
#strokefooter {width: 63%;left: 17.9%;}
.a {font-size: 152px;}
.atxt {margin-top: -16%;margin-left: 1%;}
.acartinka {width: 12%;margin-top: 4%;margin-left: 0%;}
.sbb2 {left: 31.9%;bottom: -14.5%;}
.sbb3 {left: 42.2%;bottom: 1.2%;}
.sbb4 {left: 46.5%;bottom: -10.5%;}
.sbb6 {left: 90.1%;}
.sbb5 {left: 74.2%;bottom: -9.5%;}
#qvadrat1 {margin-top: 7.5%;}
#textbase10 {left: 29.5%;}
#footertext1 {left: 1.3%;bottom: 42.2%;}
#footertext2 {left: 43%;bottom: 42.7%;}
#footertext3 {left: 88.4%;bottom: 42.8%;}
#footertext4 {bottom: 31.4%;}
#footertext5 {bottom: 31%;}
#footertext6 {bottom: 31.2%;}
#arrowleft {bottom: -25%;}
#arrowright {bottom: -24.9%;}

}
@media all and (max-width: 1024px) and (min-width:768px){}
@media all and (max-width: 768px) and (min-width:1024px){}
@media all and (max-width: 320px) and (min-width:568px){}
